body 
{
	background: white;
	text-align: center;
}

#letterContainer
{
	margin: 20px;
}
#outcome
{
	font-family: sans-serif;
	font-size: 30px;
	text-decoration: underline;
}

.letter
{	
	padding-left: 5px;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
}
.buttonContainer
{
	margin: 5px;
}